<footer class="bg-white py-10 text-center">
  <div class="flex justify-center space-x-4 text-gray-600 mb-4">
    <a href="https://www.youtube.com/@jonathandelange7756" target="_blank"><i class="fab fa-youtube fa-2x"></i></a>
    <a href="https://www.instagram.com/jonathan_de_lange/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
    <a href="https://www.linkedin.com/in/jonathan-de-lange-355288281/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
  </div>
  <p class="text-sm text-gray-400">&copy; Jono De Lange 2025</p>
</footer>
