<section class="relative w-full h-screen flex flex-col items-center justify-center  overflow-hidden bg-black text-white">
    <app-navigation></app-navigation>
    <app-matrix class="absolute inset-0 w-full h-full z-10"></app-matrix>
  
    <!-- Content -->
    <div class="relative z-20 px-6 max-w-5xl text-center">
      <h1 class="text-6xl md:text-7xl font-extrabold mb-4 leading-snug">
        The lightweight, review widget
      </h1>
      <p class="text-lg md:text-xl font-light max-w-3xl mx-auto">
        Easy to add, simple to use for creators, businesses, and projects that want meaningful feedback without the fuss.
      </p>
    </div>
  
    <!-- Optional bounce arrow here -->
  </section>
  
  

<app-about></app-about>

<section class="w-full flex justify-center mt-12  ">
   <app-pricing></app-pricing>
</section>