<section class="flex flex-col items-center  ">
  <!-- Pricing Explanation -->
  <section class="flex justify-center">
    <h1 class="text-4xl md:text-5xl font-extrabold text-center mb-6 tracking-tight">Pricing Plans</h1>
  </section>

  <div class="flex flex-row items-center mt-4">
    <section class="bg-white text-gray-800 px-4">
      <div class="max-w-3xl mx-auto text-center">
        <!-- Plan Summary -->
        <div class="bg-gray-50 rounded-2xl px-8 mb-10 shadow-lg border border-gray-200 max-w-md w-100 mx-auto bg-gradient-to-b from-white to-neutral-100 bg-[length:200%_200%] bg-left hover:bg-right transition-all duration-500 ease-in-out hover:scale-[1.03]  hover:shadow-xl">
          
          <p class="text-xl font-semibold text-gray-900 mt-8">Base Plan</p>
          <p class="text-4xl font-extrabold text-primary-600">${{ basePrice }}
            <span class="text-xl font-medium text-gray-600">/ month</span>
          </p>
          <ul class="mt-8 text-left text-gray-700 space-y-3 list-disc list-inside text-lg">
            <li>2 Domains at a time.</li>
            <li>5 Projects per domain</li>
          </ul>
          <div class="mt-8">
            <button class="bg-primary-500 text-white py-3 px-8 rounded-xl hover:bg-primary-600 transition text-lg font-medium">
              Register
            </button>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-white text-gray-800 px-4">
      <div class="max-w-3xl mx-auto text-center">
        <!-- Plan Summary -->
        <div class="bg-gray-50 text-white rounded-2xl px-8 mb-10 shadow-lg border border-gray-200 max-w-md w-100 mx-auto bg-gradient-to-t from-white to-neutral-400 bg-[length:200%_200%] bg-left hover:bg-right transition-all duration-500 ease-in-out hover:scale-[1.03]  hover:shadow-xl">
          <p class="text-xl font-semibold text-gray-900 mt-8 text-black">Pro Plan</p>
          <p class="text-4xl font-extrabold text-black">${{ basePrice * 3 }}
            <span class="text-xl font-medium">/ month</span>
          </p>
          <ul class="mt-8 text-left text-gray-700 space-y-3 list-disc list-inside text-lg">
            <li>5 Domains at a time.</li>
            <li>15 Projects per domain</li>
          </ul>
          <div class="mt-8">
            <button class="bg-primary-500 text-white py-3 px-8 rounded-xl hover:bg-primary-600 transition text-lg font-medium">
              Register
            </button>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-white text-gray-800 px-4">
      <div class="max-w-3xl mx-auto text-center">
        <!-- Plan Summary -->
        <div class="bg-gray-50 rounded-2xl px-8 mb-10 shadow-lg border border-gray-200 max-w-md mx-auto w-100 bg-gradient-to-t from-white to-purple-100 bg-[length:200%_200%] bg-left hover:bg-right transition-all duration-500 ease-in-out hover:scale-[1.03] hover:shadow-xl">
          <p class="text-xl font-semibold text-gray-900 mt-8">Premium Plan</p>
          <p class="text-4xl font-extrabold text-primary-600">
            <span class="text-xl font-medium text-gray-600"><i>Contact for pricing</i></span>
          </p>
          <ul class="mt-8 text-left text-gray-700 space-y-3 list-disc list-inside text-lg">
            <li>Unlimited Domains at a time.</li>
            <li>Unlimited Projects per domain</li>
          </ul>
          <div class="mt-8">
            <button class="bg-primary-500 text-white py-3 px-8 rounded-xl hover:bg-primary-600 transition text-lg font-medium">
              Contact Us
            </button>
          </div>
        </div>
      </div>
    </section>
  </div>

  <section class="w-full flex flex-col justify-start">
    <p class="mb-4 text-lg">
      <strong>Domains:</strong> refer to the number of websites you can use the widget on.
    </p>
    <p class="text-lg">
      <strong>Projects:</strong> represent how many unique instances of the review widget you want to create, such as for different blog posts or article pages.
    </p>
  </section>
</section>